button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  
 

}
.on {
  color: rgb(231, 155, 155);
}
.off {
  color: rgb(255, 253, 253);
}

span{
 font-size:xx-large;
}

